
.tile-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    background-color: black;
    height: 30em;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.tile {
    width: 60px;
    height: 60px;    
    color: black;    
    background-color: greenyellow;
    align-items: center;   
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: auto;
}

.tile.flipped {
    background-color: #f9f9f9;
}

.image{
    height: 30em;
     width: 32em;
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}