.tile-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    background-color: rgb(73, 70, 70);
    height: 30em;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.tile {
    width: 60px;
    height: 60px;
    background-color: greenyellow;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.tile.flipped {
    background-color: #f9f9f9;
}

.image{
    width: 40em;
    height: 30em;
    border-radius: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}